.lead__subtitle {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
  margin-left: 172px;
  margin-right: 172px;
}

@media (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
    margin-left: 144px;
    margin-right: 144px;
  }
}

@media (max-width: 1023px) {
  .lead__subtitle {
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 460px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
  }
}
