.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 109%;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  width: 560px;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 52px;
    width: 400px;
  }
}

@media (max-width: 550px) {
  .cover__title {
    font-size: 32px;
    width: 288px;
  }
}