.place {
  display: grid;
  grid-template-columns: 460px  auto;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
  align-items: start;
  gap: 48px 40px;
}

@media (max-width: 1279px) {
  .place {
    /*grid-template-columns: 440px minmax(mincontent, max-content);*/
    grid-template-columns: 440px auto;
  }
}

@media (max-width: 1023px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}

@media (max-width: 767px) {
  .place {
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
      grid-template-columns: auto;
      row-gap: 32px;
  }
}
 